<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../node_modules/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
</head>

<body>
	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<%- include('../component/logo.html') %>
			<%- include('../component/nav-title.html') %>
			<%- include('../component/nav-right.html') %>
			<%- include('../component/nav-side.html') %>
		</nav>
		<div id="page-wrapper">
			<div class="container-fluid">
				<h1>首页</h1>
			</div>
		</div>
	</div>
</body>

</html>
