<!-- nav-side begin -->
<ul class="nav navbar-nav side-nav">
	<li class="active">
		<a href="javascript:void(0)"><i class="fa fa-fw fa-cubes"></i>项目</a>
	</li>
	<li>
		<a href="javascript:void(0)"><i class="fa fa-fw fa-table"></i>报表</a>
	</li>
	<li>
		<a href="javascript:void(0)"><i class="fa fa-fw fa-plug"></i>组件</a>
	</li>
	<li>
		<a href="javascript:void(0)"><i class="fa fa-fw fa-bar-chart"></i>数据</a>
	</li>
	<li>
		<a href="javascript:void(0)"><i class="fa fa-fw fa-legal"></i>工具</a>
	</li>
</ul>
<style type="text/css">
@media(min-width:768px) {
	.side-nav {
		position: fixed;
		top: 51px;
		left: 180px;
		width: 180px;
		margin-left: -180px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		background-color: #3d454d;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}
	.side-nav>li>a {
		width: 180px;
	}
	.side-nav li a:hover,
	.side-nav li a:focus {
		outline: none;
		background-color: #353b41 !important;
	}
}

.side-nav>li>ul {
	padding: 0;
}

.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #999;
}

.side-nav>li>ul>li>a:hover {
	color: #fff;
}
</style>
<!-- nav-side end -->
